<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><p>World Hotels</p></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="account.html">My Account</a></li>
            <li style="float:right;"><a href="login.html">Login</a></li>
        </ul>
    </nav><br>


    <section class="centrecontent logincontainer">
        <h1 style="text-align: center;">Login</h1>
        <form>
            <input type="text" placeholder="Enter username..."> <br>
            <input type="password" placeholder="Enter password...">
            <br>
            <input type="button" value="Login">
            <input type="button" value="Sign Up">
        </form>
        <p style="text-align: center;"><i><u>Forgot password?</u></i></p>
    </section>
</body>
</html>