{% extends "base.html" %}
{% block title %}Welcome, {{ name }}{% endblock %}
{% block content %}
    <h1>Hello, {{ name }}!</h1>
    <br>
    <h2 style="text-align: center;">Bookings</h2>
    <table>
        <tr>
            <th>City Name</th>
            <th>Price</th>
            <th>Check In</th>
            <th>Check Out</th>
        </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.city_id }}</td>
                <td>{{ booking.total_price }}</td>
                <td>{{ booking.check_in.strftime('%Y-%m-%d') }}</td>
                <td>{{ booking.check_out.strftime('%Y-%m-%d') }}</td>
                <td>        
                    <form action="/cancel_booking/{{ booking.id }}" method="POST">
                        <button type="submit">Cancel Booking</button>
                </form>
                </td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}