<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css') }}">    
    <title>{% block title %}{% endblock %} - World Hotels</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><p><b>World Hotels</b></p></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('account') }}">My Account</a></li>
            {% if session.get('loggedin') == True %}
            <li class="loginout"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}

            {% if not session.get('loggedin') %}
            <li class="loginout""><a href="{{ url_for('login') }}">Login</a></li>
            {%  endif %}
        </ul>
    </nav><br>

    <section class="centrecontent">
        {% block content %}{% endblock %}
    </section>
</body>
</html>